In [3]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [5]:
from mlxtend.regressor import StackingCVRegressor
from skopt import BayesSearchCV
from sklearn.model_selection import RepeatedKFold
import xgboost as xgb
import lightgbm as lgb
from sklearn.ensemble import HistGradientBoostingRegressor
from analysis.fun_regressor_stacking_grad_boost_bayes import fun_regressor_stacking_grad_boost_bayes
import pandas as pd
import os
from pyprojroot import here
import numpy as np
from skimpy import clean_columns
from data_cleaning.fun_hot_encode_limit import fun_hot_encode_limit

path_data = here("./data")
os.chdir(path_data)
data_iu_analysis = pd.read_parquet("data_iu_analysis.parquet")

In [4]:
data_iu_analysis

,season,w,l,w_l_%,w_c,l_c,w_l_%_c,srs,sos,ps_g,pa_g,ap_pre,ap_high,ap_final,seed,tournament_make
0,2022-01-01,23,12,0.657,12,8,0.600,14.96,8.90,74.7,68.7,13.0,10.0,21.0,4.0,1
1,2021-01-01,21,14,0.600,9,11,0.450,12.71,8.08,70.8,66.2,NaN,NaN,NaN,12.0,1
2,2020-01-01,12,15,0.444,7,12,0.368,12.79,12.45,69.7,69.4,NaN,NaN,NaN,NaN,0
3,2019-01-01,20,12,0.625,9,11,0.450,15.07,10.35,71.4,66.7,NaN,NaN,NaN,NaN,0
4,2018-01-01,19,16,0.543,8,12,0.400,13.82,10.10,71.5,67.8,NaN,21.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1953-01-01,20,4,0.833,12,2,0.857,17.47,9.13,75.5,67.2,NaN,1.0,4.0,NaN,1
70,1952-01-01,23,3,0.885,17,1,0.944,19.98,8.29,81.2,69.5,NaN,1.0,1.0,NaN,1
71,1951-01-01,16,6,0.727,9,5,0.643,12.16,5.29,73.7,66.8,NaN,4.0,NaN,NaN,0
72,1950-01-01,19,3,0.864,12,2,0.857,16.94,5.85,64.5,53.3,NaN,3.0,7.0,NaN,0
73,1949-01-01,17,5,0.773,7,5,0.583,12.00,5.00,64.5,56.5,NaN,4.0,20.0,NaN,0